In [1]:
import pandas as pd
import numpy as np

In [4]:
url_m = "https://raw.githubusercontent.com/neeraj-iitm/Recommender-Systems-Capstone/main/01_Non_Personalised_RS_assignment/data/movies.csv"
url_r = "https://raw.githubusercontent.com/neeraj-iitm/Recommender-Systems-Capstone/main/01_Non_Personalised_RS_assignment/data/ratings.csv"
url_t = "https://raw.githubusercontent.com/neeraj-iitm/Recommender-Systems-Capstone/main/01_Non_Personalised_RS_assignment/data/tags.csv"

In [5]:
movies   = pd.read_csv(url_m,encoding = "ISO-8859-1")
ratings  = pd.read_csv(url_r)
tags     = pd.read_csv(url_t,encoding = "ISO-8859-1")

In [6]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [7]:

ratings.head()

   userId  movieId  rating   timestamp
0   12882        1     4.0  1147195252
1   12882       32     3.5  1147195307
2   12882       47     5.0  1147195343
3   12882       50     5.0  1147185499
4   12882      110     4.5  1147195239

In [8]:
tags.head()

   movieId  userId           tag   timestamp
0     3916   12882        sports  1147195545
1     4085   12882  Eddie Murphy  1147195966
2    33660   12882        boxing  1147195514
3     1197     320     must show  1145964801
4     1396     320     must show  1145964810